* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'system-ui', sans-serif;
}
.lorem {
    padding: .5rem .2rem;
    background-color: royalblue;
    color: #fff;
}